@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  list-style: none;
}

section {
  width: 100%;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: #fff;
  box-shadow: 0px 1px 0px #1d1d1d;
}

nav h4 a {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  color: #202020;
}

nav h4 a:hover {
  color: #202020ee;
}

nav ul {
  display: flex;
}

.imgdn {
  width: 35px;
  margin-top: -10px;
  margin-left: 10px;
}

nav li a {
  color: #202020;
  font-size: 17px;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5ms;
} 

nav li a:hover {
  transition: 0.5ms;
  color: #202020ee;
}

nav li .hm{
  transition: 0.5ms;
  color: #cf5d5d;
}

nav li a.hm:hover {
  color: #cf5d5dcc;
  transition: 0.5ms;
}

.burger {
  display: none;
  cursor: pointer;
  color: #202020;
  margin-left: 10px;
  font-size: 25px;
}

.burger {
  display: none;
}

@media screen and (max-width:1024px) {
  nav ul{
    width: 60%;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
<<<<<<< HEAD
    -webkit-text-size-adjust: none;
=======
>>>>>>> main
  }

  .nav{
    position: absolute;
      right: 0;
      height: 35vh;
      top: 8vh;
      background-color: rgb(255, 255, 255);
      border: solid 1px #000000;
      box-shadow: 20px 10px 0px #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav li{
      margin-top: 30px;
  }
  .nav li{
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .toggle {
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/**.bgImage {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bgImage::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.30);
}**/

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  transition: .2ms;
}

.content:hover {
  transition: .1ms;
}

.content h1 {
  font-size: 50px;
  width: 100%;
}

